/* src/pages/Home.css */

.slogan-container {
    display: flex; /* Utilisez flexbox pour centrer le contenu */
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    height: 200px; /* Hauteur de la section, ajustez selon vos besoins */
    background-color: #3b526b; /* Couleur de fond de la section */
  }
  
  .slogan {
    font-size: 2rem; /* Taille de la police du slogan */
    color: white; /* Couleur du texte du slogan */
    text-transform: uppercase; /* Optionnel: Mettre le texte en majuscules */
    letter-spacing: 1px; /* Espacement des lettres */
    padding: 20px; /* Ajustez le padding selon vos besoins */
  }
  
  /* Ajoutez des styles supplémentaires pour le reste de la page si nécessaire */
  